@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

/* HEADER */

.header {
    background-color: #115a11;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}

.header a {
    color: #fff;
}

nav {
    display: flex;
    gap: 20px;
}
/* FOOTER */